#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.upload_form {
  width: 80%;
  height: 30%;
  padding: 40px 30px 20px 30px;
  border-radius: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.file_input{
  display: none
}

.file_hover:hover {
  cursor: pointer;
}

h1 {
  margin: 0;
  margin-top: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h4 {
  color: black;
  margin-bottom: 10px;
}

.uploaded_files p {
  margin-top: 10px;
  color: black;
}

.result {
  font-weight: 600;
  font-size: 1.7rem;
  text-align: center;
  padding: 0 25px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.benign {
  color: #a7c957;
}

.malicious {
  color: #ef233c;
}

.icon {
  margin-right: 15px;
  font-size: 2rem;
}

.uploaded_files {
  display: flex;
  justify-content: center;
  gap: 50%;
  background-color: #D9D7D7;
  width: 100%;
  border-radius: 30px;
}

.upload_btn {
  margin-top: 50px;
  width: 80%;
  height: 50px;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 20px;
}

label {
  height: 1.2rem;
  width: 200px;
  color: black;
  border: 2px black dashed;
  border-radius: 17px;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.msg {
  color: gray
}


