#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.upload_form {
  height: 30%;
  padding: 3rem;
  border-radius: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.file_input{
  display: none
}

.file_hover:hover {
  cursor: pointer;
}
h1 {
  margin: 0;
  margin-top: 20px;
}

h4 {
  color: black;
  margin-bottom: 10px;
}

p {
  margin-top: 10px;
  color: black;
}

.result {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  padding: 10px 25px;
  border-radius: 20px;
}

.benign {
  background-color: #77FF87;
}

.malicious {
  background-color: red;
}


.uploaded_files {
  display: flex;
  justify-content: center;
  gap: 50%;
  background-color: #D9D7D7;
  width: 100%;
  border-radius: 30px;
}

.upload_btn {
  margin-top: 50px;
  width: 80%;
  height: 50px;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 20px;
}

label {
  height: 1.2rem;
  width: 200px;
  color: black;
  border: 2px black dashed;
  border-radius: 17px;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.msg {
  color: gray
}


